.logo {
	border-radius: 100%;
}

.listen {
	outline: none;
	border: none;
}

.nav-item {
	text-decoration: none;
}

li a:hover {
	font-size: 25px;
	transition: 0.6s;
}

.nav-link {
	margin-right: 11px;
}

#banner {
	height: 100vh;
	background-image: url('images/wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: 100% 110%;
}




#artists {
	background-color: #0f172a;
}

.custom-card {
	border-radius: 20px;
	background-color: transparent;
}

